<h1>Comments</h1>

<% @comment.comments.each do |comment| %>
  <div>
    <blockquote>
      <b><%= comment.rating %></b> -
        <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>