<div class="booyah-box col-10 offset-1">
  <h1><%= @estate.name %></h1>
  <i><%= @estate.address %></i>
  <br/><br/>
  <p><%= @estate.description %></p>
  <div class="float-right">
    <% if current_user && current_user == @estate.user %>
      <%= link_to 'Edit', edit_estate_path(@estate), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>