<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Mr Estate Sales Showing, Products and More.</h1>
    <br />
    
    <%= link_to 'Online Marketplace', marketplaces_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h2>Register For Up To Date Estate Sales</h2>
    <br />
  </div>
</div>
<br /><br />